.rating-block
  span = 'Rating'
  p class="rating-count-#{resource.id}"= resource.rating

- if !current_user&.author_of?(resource) && user_signed_in?
  .vote
      = link_to 'Vote up', polymorphic_path(resource, action: :up_vote),
      method: :patch,
      class: "vote-up",
      data: { type: :json },
      remote: true


      = link_to 'Vote down', polymorphic_path(resource, action: :down_vote),
      method: :patch,
      class: "vote-down",
      data: { type: :json },
      remote: true


